@import './color.scss';
@import './font.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}   